<li class="dropdown cart-nav dropdown-slide">
    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><iclass="tf-ion-android-cart"></i>Cart</a>
    <div class="dropdown-menu cart-dropdown">
        <div id="cartDiv"></div>
        <!-- Cart Item -->
        <!-- / Cart Item -->

        <div class="cart-summary">
            <span>Total</span>
            <span class="total-price" id="totalCartValue"></span>
        </div>
        <ul class="text-center cart-buttons">
            <li><a href="/cart" class="btn btn-small">View Cart</a></li>
            <li><a href="/checkout" id="checkoutLink" class="btn btn-small btn-solid-border">Checkout</a></li>
        </ul>
    </div>

</li><!-- / Cart -->
