
<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media">
					<li>
						<a href="https://www.facebook.com/satyam.gangani.5">
							<i class="tf-ion-social-facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/satyamgangani/">
							<i class="tf-ion-social-instagram"></i>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/satyamgangani">
							<i class="tf-ion-social-twitter"></i>
						</a>
					</li>
					<li>
						<a href="https://github.com/SatyamGangani">
							<i class="tf-ion-social-github"></i>
						</a>
					</li>
				</ul>
				<ul class="footer-menu text-uppercase">
					<li>
						<a href="/shop">SHOP</a>
					</li>
				</ul>
				<p class="copyright-text">Copyright &copy;2023.<br> Designed &amp; Developed by <a href="https://github.com/SatyamGangani">SG</a></p>
			</div>
		</div>
	</div>
</footer>