<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Aviato | E-commerce template</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Constra HTML Template v1.0">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.png" />
  
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="../assets/plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
  
  <!-- Animate css -->
  <link rel="stylesheet" href="../assets/plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="../assets/plugins/slick/slick.css">
  <link rel="stylesheet" href="../assets/plugins/slick/slick-theme.css">
  
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="../assets/css/style.css">
  <style>
    {{!-- To remove increment button --}}
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
    }
  </style>

</head>

<body id="body">

<section class="forget-password-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="/">
            <img src="../assets/images/logo.jpg" width="80px" alt="">
          </a>
          <h2 class="text-center">Welcome Back</h2>
          {{!-- <form class="text-left clearfix"> --}}
            <p>Please enter the email address for your account. A verification code will be sent to you. Once you have received the verification code, you will be able to choose a new password for your account.</p>
            <div class="form-group">
              <input type="number" style="display: none;" class="form-control" id="otp" placeholder="OTP">
            </div>
            <div class="form-group">
              <input type="password" style="display: none;" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="alert alert-danger alert-common alert-solid mt-10" style="display: none;" id="invalidPassword" role="alert"><i class="tf-ion-alert-circled"></i>Password must contain 6 letters,1 special character and 1 number.</div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Email">
              <div class="alert alert-danger alert-common alert-solid mt-10" style="display: none;" id="validEmail" role="alert"><i class="tf-ion-alert-circled"></i>Please enter valid email</div>
              <div class="alert alert-danger alert-common alert-solid mt-10" style="display: none;" id="emailNotExistErr" role="alert"><i class="tf-ion-alert-circled"></i>Entered email is not registered with us.</div>
              <div class="alert alert-danger alert-common alert-solid mt-10" style="display: none;" id="enterOtpErr" role="alert"><i class="tf-ion-alert-circled"></i>Please Enter 6 Digit OTP.</div>
              <div class="alert alert-danger alert-common alert-solid mt-10" style="display: none;" id="invalidOtpErr" role="alert"><i class="tf-ion-alert-circled"></i> <span id="otpErrMsg"></span></div>
            </div>
            <div class="text-center">
              <button class="btn btn-main btn-round text-center" id="forgetPass" onclick="forgetPassword()">Request password reset</button>
            </div>
            <div class="text-center">
                <button class="btn btn-main btn-round text-center" id="setPassword" style="display: none;margin-left: auto;margin-right: auto;" onclick="setNewPassword()">Set Password</button>
            </div>
          {{!-- </form> --}}
          <p class="mt-20"><a href="/user/login">Back to log in</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
    <script src="../assets/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="../assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="../assets/plugins/instafeed/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="../assets/plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="../assets/plugins/syo-timer/build/jquery.syotimer.min.js"></script>

    <!-- slick Carousel -->
    <script src="../assets/plugins/slick/slick.min.js"></script>
    <script src="../assets/plugins/slick/slick-animation.min.js"></script>

    <!-- Google Mapl -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="../assets/plugins/google-map/gmap.js"></script>

    <!-- Main Js File -->
    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/userScript.js"></script>
    

  </body>
  </html>